 <form id={{id}} class="form {{className}}" novalidate readonly={{readonly}}>
   <div class='form__container'>
     {{#if title}}
     <h3 class='form__title'>{{title}}</h3>
     {{/if}}

    {{#each inputs}}
      {{{ this }}}
    {{/each}}
   </div>

    <div class="form__container">
      {{{ submitBtn }}}
      {{#if link }}
        {{{ link }}}
      {{/if}}
    </div>
 </form>
