<div class='page-wrap profile'>
  
  

  <h3 class='profile__user-name'>{{userName}}</h3>

  {{{ userInfoForm }}}
  {{{ passwordChangeForm }}}

  <ul class='profile__actions-buttons'>
    <li class='profile__actions-button-row'>
      {{{ changeUserInfoBtn }}}
    </li>
    <li class='profile__actions-button-row'>
      {{{ changePasswordBtn }}}
    </li>
    <li class='profile__actions-button-row'>
      {{{ exitLink }}}
    </li>
  </ul>
</div>
