<div class='page-wrap profile'>
  <div class='avatar'>
    <label for='avatar__file-upload' class='avatar__label'></label>
    <input type='file' alt='Выберите аватарку' id='avatar__file-upload' class='avatar__file-upload' accept='image/*' name='avatar'>
    {{!-- <div class='avatar__image-wrap'>
      {{#if avatar.imageUrl }}
        <img class='avatar__image' src={{avatar.imageUrl}} />
      {{else}}
        <img class='avatar__image avatar__image-placeholder' src={{avatar.placeholder}} />
      {{/if}}
    </div> --}}
  </div>

  <h3 class='profile__user-name'>{{userName}}</h3>

  {{{ userInfoForm }}}
  {{{ passwordChangeForm }}}

  <ul class='profile__actions-buttons'>
    <li class='profile__actions-button-row'>
      {{{ changeUserInfoBtn }}}
    </li>
    <li class='profile__actions-button-row'>
      {{{ changePasswordBtn }}}
    </li>
    <li class='profile__actions-button-row'>
      {{{ exitLink }}}
    </li>
  </ul>
</div>
